:root {
  --main-border-color: #ccc;
  --main-background-color: whitesmoke;
  --site-nav-padding: 20px 40px;
}

* {
  /**
   * Calculate the width and height of elements based on its "border box", which includes padding
   * and border, instead of its "content box".[^1]
   *
   * [^1]: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
   */
  box-sizing: border-box;
}

.site-title {
  font-size: 1.5rem;
  margin-right: 20px;
}

.site-nav {
  font-size: 1.1rem;
  padding: var(--site-nav-padding);
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--main-border-color);
}
